<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674157361552-g3hbaouq1qiku1fdn0p2i7b080pnijuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674157361552-g3hbaouq1qiku1fdn0p2i7b080pnijuk</string>
	<key>API_KEY</key>
	<string>AIzaSyDY5UBK0LRBS7PH1w5WIilgqE1om82msLc</string>
	<key>GCM_SENDER_ID</key>
	<string>674157361552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apptrial</string>
	<key>PROJECT_ID</key>
	<string>sprout-gp</string>
	<key>STORAGE_BUCKET</key>
	<string>sprout-gp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674157361552:ios:c46ea7385e58462c429b15</string>
</dict>
</plist>